<%- include('partial/header') %> 
<body>
    <%- include('partial/navbar') %> 

    <div class="container my-5">

        <h1>About my Website</h1>
        <p class="lead">  I made this page for the purpose of enhancing my web development skills to ready and equip myself in the emerging world of the Information Technology field. I'm very glad and got lucky by having me a free training bootcamp to enhance and develop web applications with the help of NodeJS. </p>
    </div>
</body>
</html>
