<%- include('partial/header') %> 
<body>
    <%- include('partial/navbar') %> 

    <div class="container my-5">
        <h1>Contact Me</h1>
        <div class="my-5">
            <p class="lead"> <strong>Facebook: </strong> Harold Juan Gallego</p>
            <p class="lead"><strong>Email: </strong>haroldgallego@student.laverdad.edu.ph</p>
            <p class="lead"> <strong> Contact Number:</strong> 09456627233</p>

        </div>
    </div>
</body>
</html>
