<%- include('partial/header') %> 
<body>
    <%- include('partial/navbar') %> 

    <div class="container my-5">
        <h1>Not Found</h1>
        <p class="lead">  The page you are looking for is not found. </p>
        
</body>
</html>